In [23]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import getpass

In [2]:
password = getpass.getpass()

········

In [3]:
#Create a Python connection with SQL database

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [5]:
#Check the number of rentals for each customer for May

In [6]:
query = "select customer_id, count(rental_id) as rentals_may \
from sakila.rentals_may \
group by customer_id \
order by rentals_may desc"

data_may = pd.read_sql_query(query, engine)
data_may.info

<bound method DataFrame.info of      customer_id  rentals_may
0            197            8
1            506            7
2            109            7
3            269            6
4            239            6
..           ...          ...
515          431            1
516          351            1
517           10            1
518          136            1
519           61            1

[520 rows x 2 columns]>

In [7]:
#Check the number of rentals for each customer for June

In [8]:
query = "select customer_id, count(rental_id) as rentals_june \
from sakila.rentals_june \
group by customer_id \
order by rentals_june desc"

data_june = pd.read_sql_query(query, engine)
data_june.info

<bound method DataFrame.info of      customer_id  rentals_june
0             31            11
1            454            10
2            329             9
3            295             9
4            561             9
..           ...           ...
585          425             1
586          412             1
587          335             1
588           22             1
589          126             1

[590 rows x 2 columns]>

In [37]:
#Write a function that checks if customer borrowed more or less films in the month of June as
#compared to May.

#first get dataset that has information for may and june for each customer - python pd.merge
data_merged = pd.merge(data_june, data_may, how='outer')
data_merged.info

<bound method DataFrame.info of      customer_id  rentals_june  rentals_may
0             31          11.0          NaN
1            454          10.0          1.0
2            329           9.0          NaN
3            295           9.0          1.0
4            561           9.0          2.0
..           ...           ...          ...
593          445           NaN          2.0
594          332           NaN          2.0
595          101           NaN          1.0
596          440           NaN          1.0
597           61           NaN          1.0

[598 rows x 3 columns]>

In [12]:
# joining with MySQL
query = "select m.customer_id, count(m.rental_id) as rentals_may, count(j.rental_id) as rentals_june \
from sakila.rentals_may as m \
left join sakila.rentals_june as j \
on m.customer_id = j.customer_id \
union \
select j.customer_id, count(m.rental_id) as rentals_may, count(j.rental_id) as rentals_june \
from sakila.rentals_may as m \
right join sakila.rentals_june as j \
on m.customer_id = j.customer_id \
group by customer_id"

data_mayjune = pd.read_sql_query(query, engine)
data_mayjune.info

<bound method DataFrame.info of      customer_id  rentals_may  rentals_june
0            130         4382          4368
1            416           15            15
2            516           12            12
3            239           30            30
4            285            0             3
..           ...          ...           ...
586          412            4             4
587          335            0             1
588          226            0             2
589           22            3             3
590          126            3             3

[591 rows x 3 columns]>

In [38]:
#checking difference between python and mysql (598 python vs. 591 sql rows)
data_merged.sort_values('customer_id')
data_mayjune.sort_values('customer_id')
print('Python Duplicates:', data_merged['customer_id'].duplicated().sum())
print('SQL Duplicates:', data_mayjune['customer_id'].duplicated().sum())
print('Python null values:', data_merged.isna().sum())
print('SQL null values:', data_mayjune.isna().sum())

Python Duplicates: 0
SQL Duplicates: 1
Python null values: customer_id      0
rentals_june     8
rentals_may     78
dtype: int64
SQL null values: customer_id     0
rentals_may     0
rentals_june    0
dtype: int64

In [ ]:
# seems to be an issue with sql join - less rows and even one duplicate,
# plus there are no null values (no customers renting in only one month)

In [39]:
# continuing with python merge
# defining null values as '0' rentals
data_merged = pd.DataFrame(np.nan_to_num(data_merged), columns=data_merged.columns)
print('Python null values:', data_merged.isna().sum())

Python null values: customer_id     0
rentals_june    0
rentals_may     0
dtype: int64

In [53]:
#defining function to compare rentals
def compare_columns(data):
    if data['rentals_june'] < data['rentals_may']:
        return 'june<may'
    if data['rentals_june'] > data['rentals_may']:
        return 'june>may'
    else:
        return 'equal'

In [54]:
#apply function to create new column 'comparison'
data_merged['comparison']=data_merged.apply(compare_columns, axis=1)

In [55]:
# check output
data_merged.head()

   customer_id  rentals_june  rentals_may comparison
0         31.0          11.0          0.0   june>may
1        454.0          10.0          1.0   june>may
2        329.0           9.0          0.0   june>may
3        295.0           9.0          1.0   june>may
4        561.0           9.0          2.0   june>may

In [56]:
# number of customers that borrowed more/less/equal amount of films in june, compared to may
data_merged['comparison'].value_counts()

june>may    436
june<may    100
equal        62
Name: comparison, dtype: int64